name: CI/CD

on:
  push:
    tags: v*

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20.9.0'
          cache: 'npm'

      - name: Install dependencies
        run: npm install

      - name: Run Build Task
        run: npm run build

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to Docker
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: cywin
          port: ${{ secrets.REMOTE_PORT }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd ~/temp
            git pull origin ${{ github.ref_name }} .
            docker build -t ${{ secrets.DOCKER_IMAGE_NAME }}
            docker pull ${{ secrets.DOCKER_IMAGE_NAME }}
            docker run ${{ secrets.DOCKER_IMAGE_NAME }}
